* {
    margin: 0;
    padding: 0;
}

a:link {
    color: none;
    text-decoration: none;
  }
  
/* visited link */
a:visited {
color: none;
text-decoration: none;
}

/* mouse over link */
a:hover {
color: none;
text-decoration: none;
}

/* selected link */
a:active {
color: none;
text-decoration: none;
}

.shop-now {
    justify-self: center;
    align-self: center;
    box-sizing: border-box;
    border: 2px solid #000;
    background-color: #FFF;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', 'Noto', sans-serif;
    padding: 8px 44px;
    text-align: center;
    text-transform: uppercase;
}



/* head starts from here */
.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    padding: 1.5em;
    row-gap: 2em;
    /* width: 100%; */
}

.header a.cart {
    text-align: center;
    justify-self: right;
    font-size: 1.5em;
}

.header a.head {
    text-align: center;
    justify-self: center;

    font-size: 1em;
    letter-spacing: 0.3em;
    font-weight: 800;
    font-family:'Roboto', 'Noto', sans-serif;
}



/* Desktop view Is here */
@media only screen and (min-width: 768px) {
    .menu {
        grid-row: 2;
        grid-column: 2;
        justify-self: center;
    }
    
    .header a.cart {
        grid-column: 3;
    }
    .header a.head {
        grid-column: 2;
    }
}

/* HEad Ends here */


/* Main starts from here */

.main-head {
    display: grid;
    justify-content: center;
    row-gap: 0.5em;
}

.main-head h1 {
    text-align: center;
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
}

.main-head p {
    text-align: center;
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 0.8em;
    font-weight: 200;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    row-gap: 3em;
    column-gap: 2em;
    padding: 2em;
}

.item {
    justify-self: center;
    display: grid;
    /* grid-template-rows: fr 0.1fr 0.1fr; */
    row-gap: 2em;
}

img {
    max-width: 30em;
    max-height: 20em;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}


.name-price-wrapper {
    display: grid;
    row-gap: 0.5em;
}

.item div.name {
    text-align: center;
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 0.9em;
    font-weight: 800;
    align-self: center;
}

.item .price {
    text-align: center;
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 0.8em;
    font-weight: 100;
    align-self: center;
}


/* Main Ends here */


/* Footer Starts From here */

.footer {
    display: grid;
    margin-top: 4em;
    row-gap: 1em;
}

.footer .author {
    justify-self: center;
    text-align: center;
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 0.8em;
    align-self: center;
}

.footer .shop-now {
    align-self: center;
    justify-self: center;
    background-color: #000;
    color: white;
}